@import 'variables';
@import '../quasar.variables';

$font-stack: 'Roboto', sans-serif;
$cursive-stack: 'Dancing Script', 'cursive';

$text-sizes: (
  'h1': (
    2.4rem,
    2.6rem,
    2.8rem,
    3rem,
  ),
  'h2': (
    1.8rem,
    2rem,
    2.2rem,
    2.4rem,
  ),
  'h3': (
    1.6rem,
    1.8rem,
    2rem,
    2.2rem,
  ),
  'body-1': (
    1.2rem,
    1.2rem,
    1.4rem,
    1.4rem,
  ),
  'body-2': (
    0.8rem,
    0.8rem,
    1rem,
    1rem,
  ),
  'caption': (
    0.5rem,
    0.5rem,
    0.5rem,
    0.5rem,
  ),
);

@each $class, $sizes in $text-sizes {
  .text-#{$class} {
    font-size: nth($sizes, 1);

    // Set sensible defaults by type
    @if str-index($class, 'h') {
      line-height: 1.3;
    } @else if $class == 'body-1' {
      line-height: 1.5;
    } @else if $class == 'body-2' {
      line-height: 1.4;
    } @else if $class == 'caption' {
      line-height: 1.3;
    }

    @media (min-width: $breakpoint-sm) {
      font-size: nth($sizes, 2);
    }
    @media (min-width: $breakpoint-md) {
      font-size: nth($sizes, 3);
    }
    @media (min-width: $breakpoint-lg) {
      font-size: nth($sizes, 4);
    }
  }
}

// Map of outline colors using Quasar theme vars
$text-outlines: (
  'black': black,
  'primary': var(--q-primary),
  'secondary': var(--q-secondary),
  'accent': var(--q-accent),
  'dark': var(--q-dark),
);

@each $name, $color in $text-outlines {
  .#{$name}-text-outline {
    text-shadow:
      -1px -1px 0 #{$color},
      1px -1px 0 #{$color},
      -1px 1px 0 #{$color},
      1px 1px 0 #{$color};
  }
}

$border-colors: (
  'white': white,
  'black': black,
  'dark': var(--q-dark),
  'primary': var(--q-primary),
  'secondary': var(--q-secondary),
  'accent': var(--q-accent),
);

@each $name, $color in $border-colors {
  .border-#{$name} {
    border: solid 2px #{$color};
  }
}

$text-glows: (
  'white': white,
  'black': black,
  'primary': var(--q-primary),
  'secondary': var(--q-secondary),
  'accent': var(--q-accent),
  'dark': var(--q-dark),
);

@each $name, $color in $text-glows {
  .#{$name}-text-glow {
    text-shadow:
      0 0 5px rgba($color, 0.7),
      0 0 10px rgba($color, 0.5),
      0 0 20px rgba($color, 0.3),
      0 0 40px rgba($color, 0.2);
  }
}

$secondary-font: 'Manrope', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$primary-font: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.primary-font {
  font-family: $primary-font;
}

.secondary-font {
  font-family: $secondary-font;
}
