@import 'variables';
@import '../quasar.variables';

$text-sizes: (
  'h1': (
    3rem,
    3rem,
    2.7rem,
    2.7rem,
  ),
  'h1-alt': (
    2.7rem,
    2.7rem,
    2.4rem,
    2.4rem,
  ),
  'h2': (
    2.4rem,
    2.4rem,
    2.1rem,
    2.1rem,
  ),
  'h2-alt': (
    2.1rem,
    2.1rem,
    1.8rem,
    1.8rem,
  ),
  'body-1': (
    1.2rem,
    1.2rem,
    1.2rem,
    1.2rem,
  ),
  'body-2': (
    1rem,
    1rem,
    1rem,
    1rem,
  ),
  'body-3': (
    0.7rem,
    0.7rem,
    0.7rem,
    0.7rem,
  ),
  'caption': (
    0.5rem,
    0.5rem,
    0.5rem,
    0.5rem,
  ),
);

@each $class, $sizes in $text-sizes {
  .text-#{$class} {
    font-size: nth($sizes, 1);

    @media (min-width: $breakpoint-sm) {
      font-size: nth($sizes, 2);
    }
    @media (min-width: $breakpoint-md) {
      font-size: nth($sizes, 3);
    }
    @media (min-width: $breakpoint-lg) {
      font-size: nth($sizes, 4);
    }
  }
}
