@import '../mixins/export-css-vars.scss';

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

$breakpoints: (
  'breakpoint-xs': $breakpoint-xs,
  'breakpoint-sm': $breakpoint-sm,
  'breakpoint-md': $breakpoint-md,
  'breakpoint-lg': $breakpoint-lg,
  'breakpoint-xl': $breakpoint-xl,
);

$ai-chat-fall: 0px;
$ai-chat-winter: 600px;
$ai-chat-spring: 1024px;
$ai-chat-summer: 1440px;

:root {
  @include export-css-vars($breakpoints);
}

$font-stack: 'Roboto', sans-serif;
