@import './main.scss';

html,
body,
#q-app {
  height: 100%;
  font-size: 16px;
}

html,
body,
#q-app,
.q-layout,
.q-page-container,
.q-page {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  color: $dark;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
