@import 'base/variables';
@import 'base/typography';
@import './quasar.variables.scss';

.q-item__section--side > .q-icon {
  color: var(--q-accent);
}

.q-item__label {
  color: var(--q-dark);
}

.message textarea {
  min-height: 200px !important;
}
