@import 'base/variables';
@import 'base/typography';
@import './quasar.variables.scss';

.message textarea {
  min-height: 200px !important;
}

.desktop-drawer .q-scrollarea,
.desktop-drawer .scroll-area {
  padding-right: 1.7rem;
}

.caseStudiesSection,
.contactSection,
.aboutSection,
.packageSection {
  content-visibility: auto;
  contain-intrinsic-size: 1200px 2000px; /* tune per section */
}
