@import 'base/variables';
@import 'base/typography';
@import './quasar.variables.scss';

.q-item__section--side > .q-icon {
  color: var(--q-accent);
}

.q-item__label {
  color: var(--q-dark);
}

.message textarea {
  min-height: 200px !important;
}

.black-text-outline {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.primary-text-outline {
  text-shadow:
    -1px -1px 0 var(--q-primary),
    1px -1px 0 var(--q-primary),
    -1px 1px 0 var(--q-primary),
    1px 1px 0 var(--q-primary);
}

.dark-text-outline {
  text-shadow:
    -1px -1px 0 var(--q-dark),
    1px -1px 0 var(--q-dark),
    -1px 1px 0 var(--q-dark),
    1px 1px 0 var(--q-dark);
}

.accent-text-outline {
  text-shadow:
    -1px -1px 0 var(--q-accent),
    1px -1px 0 var(--q-accent),
    -1px 1px 0 var(--q-accent),
    1px 1px 0 var(--q-accent);
}

.secondary-text-outline {
  text-shadow:
    -1px -1px 0 var(--q-secondary),
    1px -1px 0 var(--q-secondary),
    -1px 1px 0 var(--q-secondary),
    1px 1px 0 var(--q-secondary);
}
